<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="vue.js" charset="utf-8"></script>
    </head>
    <body>
		<style>
			.active {
				color: #D93F30;
			}
		</style>
        <div id="app">
            <h1>{{ message }}</h1>
			<image src='image/logo.png'></image><br>
			用户名:<br>
			<input v-model="username" placeholder="请输入用户名">
			<p>旧密码:<br>
			<input type="password" v-model="oldpasswd" placeholder="请输入旧密码">
			<p>新密码:<br>
			<input type="password" v-model="newpasswd" placeholder="请输入新密码"></p>
			<button v-on:click="changePasswd">提交</button>
			<p>如果您点击提交，密码将会被立即修改。</p>
        </div>

        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    message: 'Opengrok密码修改系统!',
					username: '',
					oldpasswd: '',
					newpasswd: '',
					user: ['yangfei', 'wangbin', 'liqiang']
                },
				methods: {
					changePasswd: function(){
						let checkoutResult = this.checkoutUser()
						if (checkoutResult == -1) {
							alert("用户名或密码错误，请重新输入！")
						} else {
							const usermessge = {
								username: this.username,
								oldpasswd: this.oldpasswd,
								newpasswd: this.newpasswd
							}
							// console.log(this.usermessage)
							alert(usermessge.username+':密码修改成功')
						}
					},
					checkoutUser() {
						let result = this.user.indexOf(this.username)
						return result
					}
				}
            });
        </script>
    </body>
</html>